{% extends 'base.html' %}

{% block title %} Detail {{peserta}} | Asfiolitha Wilmarani {% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-8">
            <h3>{{peserta.nama}}</h3>
            <h4 class="card-header">Participating in:</h4>
            <ul class="mt-3">
                {% for kegiatan in peserta.kegiatan_set.all %}
                <li>{{ kegiatan }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-header">
                    <h4>Participate in more events!</h4>
                </div>
                
                <form action="{% url 'story6:addKegiatan' id=peserta.id origin='detailPeserta' %}" method="POST" class="m-3">
                    {% csrf_token %}
                    {{ add_kegiatan }}
                </form>
            </div>
            <a href="{% url 'story6:index' %}" class="btn btn-primary btn-lg w-25 float-right">Go Back</a>
        </div>
    </div>
</div>

{% endblock %}