{% extends 'base.html' %}

{% block title %} Daftar Kegiatan | Asfiolitha Wilmarani {% endblock %}

{% block head %}
<style>
.masonry { 
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-height: {{height}}px;    
  }
  
  .masonry-brick {
    margin: 0 1rem 1rem 0; /* Some gutter */
    padding: 0;
  }
</style>
{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="masonry">
    {% for keg in kegiatan %}
        <div class="card masonry-brick col-md-4 ">
            <div class="card-header text-center">
                <h3> <a href="{{keg.get_absolute_url}}">{{ keg.nama }}</a></h3> 
            </div>
            <div class="card-body">
                <h3>Peserta:</h3>
                    <ul>
                        {% for peserta in keg.peserta.all %}
                            <li class="mb-2">
                                <a href="{{peserta.get_absolute_url}}">{{ peserta.nama }}</a>
                                <div class="float-right">
                                    <a href="{% url 'story6:delPeserta' id=keg.id pk=peserta.id origin='index' %}" class="btn btn-danger" style="border-radius: 50%; font-size: 1rem;"><i class="fa fa-trash"></i></a>
                                </div>  
                            </li>                                                     
                        {% endfor%}
                    </ul>
            </div>
            <div class="card-footer p-4">
                <form action="{% url 'story6:addPeserta' id=keg.id origin='index' %}" method="POST">
                    {% csrf_token %}
                    {{ add_peserta }}
                </form>
            </div>
            
        </div> 
    {% endfor %}
        <div class="card masonry-brick col-md-4">
            <div class="card-header">
                <h3>Add new event</h3>
            </div>
            <div class="card-body">
                <form action="{% url 'story6:addKegiatan' id='0' origin='index' %}" method="POST">
                    {% csrf_token %}
                    {{ add_kegiatan }}
                    <input type="submit" class="btn btn-lg btn-primary mt-3 float-right">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}