{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}<link rel="stylesheet" href="{% static "story1/style.css" %}">{% endblock %}
{% block title %} Profile | Asfiolitha Wilmarani {% endblock %}

{% block body %}
    <br>
    <div id="main">
        <div id="pic">
            <img id="portrait" src="{% static "story1/portrait.jpg" %}">
            <img id="logo" src="{% static "story1/logo.png" %}">
        </div>
        <div id="bio">
            <h1 class="h1">Asfiolitha Wilmarani</h1>
            <h2>Computer Science 2019</h2>
            <h3>University of Indonesia</h3>
            <h4 class="h4">19063509XX</h4>
            <div class="divider"></div>
            <div id="info">
                
                <p><b>Hobby:</b><br>
                    <strike>teasing Captain</strike>, reading, writing, crafting, sketching</p>
                <p><b>Desc:</b><br>
                    The type of person to procrastinate on something important 
                    and have a mental breakdown near the deadline 
                    only to finish it perfectly <i>just</i> before deadline hits the clock.<br>
                    Oh, I also type fast.</p>
                <div class="divider"></div>
                <p><b>Education</b>
                <ul><li>SMPN 99 Jakarta (2013- 2016)</li>
                <li>SMAN 68 Jakarta (2016- 2019)</li>
                <li>University of Indonesia (2019 - now)</li></ul>
                </p>
            </div>
        </div>
        
        <div class="divider"></div>
        <div id="gibberish">
            <p>“I cannot make you understand. I cannot make anyone understand what is happening inside me. I cannot even explain it to myself.”
                </p>
            <p class="said">― Franz Kafka, The Metamorphosis</p>
        </div>
        <div class="divider"></div>
    </div><br>
{% endblock %}