{% extends 'base.html' %}

{% block title %} Add Mata Kuliah | Asfiolitha Wilmarani {% endblock %}

{% block body %}
<hr>
<h2 class="h2 text-center">Add Mata Kuliah</h2>
<hr>
<br>
<form method="POST">{% csrf_token %}
    <div class="container d-flex flex-column flex-wrap">
            {{ form }} 
            <br>
            <button class="btn btn-primary btn-lg" type="submit" value="Save">Submit</button>
            <br>    
    </div>
</form>
<div class="container">
    <a href="/matkul" class="btn btn-outline-primary btn-lg float-right" style="margin-bottom: 2rem;">Kembali</a>
</div>
{% endblock %}


