{% extends 'base.html' %}

{% block title %} Mata Kuliah | Asfiolitha Wilmarani {% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h2 class="h2 text-center">Mata Kuliah</h2>
    <hr>
    <a href="/matkul/add" class="btn btn-primary btn-lg w-50" style="margin:1rem auto; display: block;">Add Mata Kuliah</a>

    <ul class="list-group w-50 mx-auto">
        {% for matakuliah in matkul %}
        <li class="list-group-item"> <a href="/matkul/details/{{matakuliah.id}}">{{matakuliah.nama}}</a>
        
        <div class="float-right">
            <a href="/matkul/details/{{matakuliah.id}}" class="btn btn-secondary" style="padding-top:.7rem;">details</a> 
            <a href="/matkul/delete/{{matakuliah.id}}" class="btn btn-danger" style="padding-top:.7rem;"><i class="fa fa-trash"></i></a>
        </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
