{% extends 'base.html' %}
{% load static %}
{% block title %} Stickers | Asfiolitha Wilmarani {% endblock %}

{% block body %}

<!------------------ stickers ------------------>
<div id="stickers" class="container">
    <div class="row text-center">
        <hr>
        <h2>stickers</h2>
        <hr>
    </div>
<div class="row">
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <img class="card-img-top" src="{% static "story4/images/caffeine-sticker.jpg" %}">
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/addiction-sticker.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/donut-sticker.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/holmes-sticker.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto">
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/vintage-sticker.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/holmes-sticker.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <img class="card-img-top" src="{% static "story4/images/caffeine-sticker.jpg" %}">
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/addiction-sticker.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">lorem ipsum dolor</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, eaque? Libero, odit enim quos quod quia nemo eveniet temporibus pariatur quam expedita voluptate facere fuga iusto blanditiis, architecto, est dolores.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}